@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8em;
	color: #9294A5;
	background: #262830;
	font-size: 16px;
	padding: 0;
	margin: 0;
	position: relative;
}

.header {
	height: 750px;
	background-image: url("/img/bg.png");
}
.logo {
	background-image: url("/img/jumbotron.png");
    background-size: 700px;
	height: 750px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.header.page {
    height: 300px;
    background-position-y: 100%;
}
.header.page .logo {
    background-size: 150px;
    height: 150px;
}

.header.page .nav ul li {
    margin: 0px 30px;
    width: 100px;
    display: inline-block;
}

.header.page .nav ul li:nth-child(2) {
	margin-right: 90px;
}

.header.page .nav ul li:nth-child(3) {
	margin-left: 90px;
}

.header h1 {
    text-align: center;
    margin-top: 100px;
}

h1, h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
}

hr {
	opacity: 0.25;
}

img {
	width: 100%;
}

footer {
	font-size: 14px;
	font-weight: 300;
	opacity: 0.5;
	text-align: center;
	padding: 50px 0;
}

footer .fa {
	color: #9294A5;
}

.btn-primary {
	background-color: #00AEEF;
}

.fa {
	color: #00AEEF;
}

.btn .fa {
	color: #FFF;
	margin-right: 10px;
}

.input-group .fa {
	color: #000;
}

.intro {
	margin-top: 100px;
}

.intro h2 {
	text-align: center;
	margin-bottom: 40px;
}

.intro p {
	padding: 10px;
}
.intro-fa {
	margin-bottom: 40px;
	font-size: 36px;
	text-align: center;
}

.highlight {
	margin: 100px 0;
}

.highlight h1 {
	margin: 0;
	margin-bottom: 20px;
}

p a {
	color: #00AEEF;
}

.blog {
	margin: 100px 0;
}

.nav ul li {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 90px;
}

.nav ul li a {
	color: #FFF;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	padding-top: 40px;
}

.nav li {
	display: inline;
}

.nav {
	text-align: center;
}

.blog h2, .highlight h2 {
	margin: 40px 0;
}

.posts .post {
	margin: 40px 0;
}

.posts .post .body {
	margin: 20px 0;
}

.posts {
	padding: 90px 0;
}

.posts .author,
.posts .link,
.posts .date {
	display: inline;
}

.post img {
	display: block;
	margin: 40px auto;
}

#new-post {
	margin-top: 50px;
}

.home {
	height: 150px;
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
}

.member {
	height: 100px;
    margin: 40px 0;
}

.member .image {
    height: 100px;
    width: 100px;
    position: absolute;
}

.member .image img {
	vertical-align: initial;
}

.member .member-text {
	display: inline-block;
    height: 120px;
    width: 100%;
    margin-left: 120px;
}

.member .username {
	font-family: 'Open Sans Condensed', sans-serif;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    margin-bottom: 20px;
}

.member .joined {
    font-size: 12px;
    font-style: italic;
}

.members h2 {
    margin-top: 90px;
    margin-bottom: 50px;
    border-bottom: 1px solid #00AEEF;
    padding-bottom: 20px;
}

#teams {
	position: fixed;
	margin-top: 40px;
}

#teams .nav {
	text-align: right;	
}